# Environment Variables — AWS Cognito Configuration
# Copy this file to .env and fill in your values

VITE_COGNITO_USER_POOL_ID=eu-north-1_6t1sHbu1x
VITE_COGNITO_CLIENT_ID=efrm0n0rfb3iqd31fnaig185l
VITE_COGNITO_REGION=eu-north-1
VITE_COGNITO_REDIRECT_URI=https://d84l1y8p4kdic.cloudfront.net
